<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/searche" method="POST">
        <label for="">find your team</label>
        <input type="text" name="findteam">
        <input type="submit" value="searche">
    </form>

</body>
</html>
